<section data-ng-controller="notesController" data-ng-init="getAll()">
	<h1>Notes:</h1>
	<aside data-ng-if="errors.length">
		<h2>Errors:</h2>
		<ul data-ng-repeat="error in errors">
			<li>{{error.msg}}</li>
		</ul>
		<button data-ng-click="clearErrors()">Clear Errors</button>
	</aside>
	<div data-note-form-directive
		data-save="createNewNote(note)"
		data-button-text="'Create New Note'"
		data-label-text="'Create A New Note'"></div>
		
	<ul data-ng-repeat="note in notes">
		<li>{{note.noteBody}}
			<button data-ng-click="removeNote(note)">Delete</button>
			<button data-ng-if="!note.editing" data-ng-click="toggleEdit(note)">Edit</button>
			<div data-note-form-directive
				data-save="saveNote(note)"
				data-button-text="'Save Changes'"
				data-label-text="'Edit Your Note'"
				data-ng-if="note.editing"
				data-note="note">
				<button type="button" data-ng-click="toggleEdit(note)">Cancel</button>
			</div>
			</form>
		</li>
	</ul>

</section>
